1/cats.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="house">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cat" maxOccurs="4" minOccurs="0">
          <xs:complexType mixed="true">
                <xs:attribute type="xs:string" name="name" use="optional"/>
                <xs:attribute type="xs:string" name="color" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
